# SABINA COMMENT: Please start adding headers and sections to your notebooks

In [1]:
import pandas as pd
path = "/Users/reynoldtakurachoruma/Downloads/GSAF5 1(Sheet1-GSAF).csv"

for enc in ["utf-8-sig", "cp1252", "latin1"]:
    try:
        df = pd.read_csv('/Users/reynoldtakurachoruma/GSAF5(Sheet1-GSAF).csv')
        print(f" Read with encoding: {enc}  |  shape={df.shape}")
        break
    except UnicodeDecodeError as e:
        print(f"failed with  {enc}: {e}")

df.head()
df.info()

 Read with encoding: utf-8-sig  |  shape=(39145, 255)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39145 entries, 0 to 39144
Columns: 255 entries, Date to Unnamed: 254
dtypes: float64(234), object(21)
memory usage: 76.2+ MB

/var/folders/00/c54qzf757tzdyqs5hr4n94vc0000gn/T/ipykernel_48198/3688720642.py:6: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/reynoldtakurachoruma/GSAF5(Sheet1-GSAF).csv')

## SABINA COMMENT: [EXAMPLE SECTION] Review data

In [2]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# print columns names 
print(df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age',
       ...
       'Unnamed: 245', 'Unnamed: 246', 'Unnamed: 247', 'Unnamed: 248',
       'Unnamed: 249', 'Unnamed: 250', 'Unnamed: 251', 'Unnamed: 252',
       'Unnamed: 253', 'Unnamed: 254'],
      dtype='object', length=255)

### SABINA COMMENT: [EXAMPLE SECTION] Remove empty columns

In [4]:
# drop all columns where all values are missing (NAN)
# axis=1 specifies that we are operating on columns.
df_cleaned = df.dropna(axis=1, how='all', inplace=True)

In [5]:
print("new column count dropping empty columns :")
print(df.shape[1])

new column count dropping empty columns :
23

In [6]:
# Display the first few rows to see the cleaner column header 
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 1. Strip leading/trailing whitespace from ALL column names
df.columns = df.columns.str.strip()

# 2. Check the new, clean list of columns
print("Cleaned Column Headers:")
print(df.columns.tolist())

Cleaned Column Headers:
['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species', 'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22']

In [8]:
# Print the current number of columns and the column list
print(f"Current column count: {df.shape[1]}")
print("Current Column Headers:")
print(df.columns.tolist())

Current column count: 23
Current Column Headers:
['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species', 'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22']

In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/reynoldtakurachoruma/GSAF5(Sheet1-GSAF).csv')
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)   
df["hour"] = df["Time"].astype(str).str.extract(r"(\d{1,2})").astype(float)  

bins   = [-1,4,8,11,14,17,20,24]
labels = ["Night/Other","05:08","09:11","12:14","15:17","18:20","Night/Other"]
df["hour_bin"] = pd.cut(df["hour"], bins=bins, labels=labels)
def to_hour(x):
    if pd.isna(x): return np.nan
    s = str(x).lower().strip()

    if "morning" in s:  return 9
    if "afternoon" in s:return 15
    if "evening" in s or "dusk" in s: return 19
    if "night" in s:    return 23
    if "noon" in s:     return 12
    if "dawn" in s or "sunrise" in s: return 6
    return np.nan

df["hour"] = df["Time"].apply(to_hour)

def hour_bin(h):
    
    if pd.isna(h): return "Unknown"
    h = int(h)
    if 5 <= h < 9:   return "05:08"
    if 9 <= h < 12:  return "09:11"
    if 12 <= h < 15: return "12:14"
    if 15 <= h < 18: return "15:17"
    if 18 <= h < 21: return "18:20"
    return "Night/Other"

df["hour_bin"] = df["hour"].apply(hour_bin)

df["year"]  = df["date"].dt.year
df["month"] = df["date"].dt.month

/var/folders/00/c54qzf757tzdyqs5hr4n94vc0000gn/T/ipykernel_48198/3351100676.py:3: DtypeWarning: Columns (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/reynoldtakurachoruma/GSAF5(Sheet1-GSAF).csv')
/var/folders/00/c54qzf757tzdyqs5hr4n94vc0000gn/T/ipykernel_48198/3351100676.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 14th October, at position 0

In [ ]:
df.rename(columns={
    'Sex ': 'Sex',
    'Species ': 'Species'
}, inplace=True)

# Final check of the clean column names
print("\nFinal, Cleaned Column Headers:")
print(df.columns.tolist())

In [ ]:
# Use .info() to display the number of non-null values for each column
df.info()

SABINA COMMENT: Are you sure that the Fatal Y/N column should be removed? What if the places where there are null values simply mean that the person survived?

Please re-read the description of the dataset here for the answer: https://www.sharkattackfile.net/incidentlog.htm

Also, as a general rule... DO NOT remove data before looking at it! What if Species/Source/Time are relevant data? What if they are more recent data, which could help you analyze what happened in the past 1-2 years with more accuracy?

I agree with removing PDF, HREF formula, HREF, Case Number directly as these don't add to the analysis, but the rest you should have a look at before removing!

In [ ]:
# SABINA COMMENT: Love the variable name!
# Small tip to make it shorter: cols_to_drop_sparsity
columns_to_drop_sparsity = [ 'pdf', 'href formula', 'href', 
    'Case Number', 'original order' 
]

df.drop(columns=columns_to_drop_sparsity, axis=1, inplace=True)

print(f"Columns remaining: {df.shape[1]}")

In [ ]:
# Drop rows where 'Country' is missing
df.dropna(subset=['Country'], inplace=True)
print(f"Rows remaining after dropping null Countries: {df.shape[0]}")

In [ ]:
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
df = df.dropna(subset=['Year'])

## Unique Values for Countries

In [10]:
# Find the unique values in the category columns 
unique_countries = df['Country'].unique()
print("Unique Countries:")
print(unique_countries)

Unique Countries:
['Columbia' 'Australia' 'USA' 'Costa Rica' 'Bahamas' 'Puerto Rico'
 'French Polynesia' 'Spain' 'Canary Islands' 'South Africa' 'Vanuatu'
 'Jamaica' 'Israel' 'Mexico' 'Maldives' 'Philippines' 'Turks and Caicos'
 'Mozambique' 'New Caledonia' 'Egypt' 'Thailand' 'New Zealand' 'Hawaii'
 'Honduras' 'Indonesia' 'Morocco' 'Belize' 'Maldive Islands' 'Tobago'
 'AUSTRALIA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'ENGLAND' 'JAPAN' 'INDONESIA' 'JAMAICA'
 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'British Overseas Territory' 'CANADA' 'JORDAN' 'ST KITTS / NEVIS'
 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND' 'ISRAEL' 'CHINA'
 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan 'MAURITIUS' 'SOLOMON ISLANDS'
 'ST HELENA, British overseas territory' 'COMOROS' 'REUNION'
 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON'
 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA'
 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']

In [11]:
df.country = df['Country'].str.strip().str.lower()

/var/folders/00/c54qzf757tzdyqs5hr4n94vc0000gn/T/ipykernel_48198/914924191.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.country = df['Country'].str.strip().str.lower()

In [12]:
df['Country'] = df['Country'].str.strip().str.lower()
print("Cleaned Country Names:")
print(df['Country'].unique())

Cleaned Country Names:
['columbia' 'australia' 'usa' 'costa rica' 'bahamas' 'puerto rico'
 'french polynesia' 'spain' 'canary islands' 'south africa' 'vanuatu'
 'jamaica' 'israel' 'mexico' 'maldives' 'philippines' 'turks and caicos'
 'mozambique' 'new caledonia' 'egypt' 'thailand' 'new zealand' 'hawaii'
 'honduras' 'indonesia' 'morocco' 'belize' 'maldive islands' 'tobago'
 'india' 'trinidad' 'coral sea' 'portugal' 'samoa' 'colombia' 'ecuador'
 'cuba' 'brazil' 'seychelles' 'argentina' 'fiji' 'england' 'japan'
 'british overseas territory' 'canada' 'jordan' 'st kitts / nevis'
 'st martin' 'papua new guinea' 'reunion island' 'china' 'ireland' 'italy'
 'malaysia' 'libya' nan 'mauritius' 'solomon islands'
 'st helena, british overseas territory' 'comoros' 'reunion'
 'united kingdom' 'united arab emirates' 'cape verde' 'dominican republic'
 'cayman islands' 'aruba' 'atlantic ocean' 'greece' 'st. martin' 'france'
 'trinidad & tobago' 'kiribati' 'diego garcia' 'taiwan'
 'palestinian territories' 'guam' 'nigeria' 'tonga' 'scotland' 'croatia'
 'saudi arabia' 'chile' 'antigua' 'kenya' 'russia' 'turks & caicos'
 'united arab emirates (uae)' 'azores' 'south korea' 'malta' 'vietnam'
 'madagascar' 'panama' 'somalia' 'nevis' 'british virgin islands' 'norway'
 'senegal' 'yemen' 'gulf of aden' 'sierra leone' 'st. maartin'
 'grand cayman' 'liberia' 'venezuela' 'sri lanka' 'uruguay' 'micronesia'
 'caribbean sea' 'okinawa' 'tanzania' 'marshall islands' 'egypt / israel'
 'northern arabian sea' 'hong kong' 'el salvador' 'angola' 'bermuda'
 'montenegro' 'iran' 'tunisia' 'namibia' 'north atlantic ocean'
 'south china sea' 'bangladesh' 'palau' 'western samoa' 'pacific ocean'
 'british isles' 'grenada' 'iraq' 'turkey' 'singapore' 'new britain'
 'sudan' 'johnston island' 'south pacific ocean' 'new guinea' 'red sea'
 'north pacific ocean' 'federated states of micronesia'
 'mid atlantic ocean' 'admiralty islands' 'british west indies'
 'south atlantic ocean' 'persian gulf' 'red sea / indian ocean'
 'north sea' 'nicaragua' 'american samoa' 'andaman / nicobar islandas'
 'gabon' 'mayotte' 'the balkans' 'sudan?' 'martinique' 'indian ocean'
 'guatemala' 'netherlands antilles' 'northern mariana islands'
 'iran / iraq' 'java' 'central pacific' 'solomon islands / vanuatu'
 'southwest pacific ocean' 'bay of bengal' 'mid-pacifc ocean' 'slovenia'
 'curacao' 'iceland' 'italy / croatia' 'barbados' 'monaco' 'guyana'
 'haiti' 'san domingo' 'kuwait' 'falkland islands' 'crete' 'cyprus'
 'west indies' 'burma' 'lebanon' 'paraguay' 'british new guinea' 'ceylon'
 'ocean' 'georgia' 'syria' 'tuvalu' 'indian ocean?' 'guinea'
 'andaman islands' 'equatorial guinea / cameroon' 'cook islands' 'peru'
 'africa' 'algeria' 'coast of africa' 'tasman sea' 'ghana' 'greenland'
 'mediterranean sea' 'sweden' 'roatan' 'between portugal & india'
 'djibouti' 'bahrein' 'korea' 'red sea?' 'asia?' 'ceylon (sri lanka)']

In [13]:
# Assuming we've already applied all the cleaning to df['Country']

# Calculate the total number of unique values (countries)
total_unique_countries = df['Country'].nunique()

# Print the result
print(f"The total number of unique countries remaining after cleaning is: {total_unique_countries}")

The total number of unique countries remaining after cleaning is: 212

In [18]:
# Ensure all countries are in title case for consistency
df['Country'] = df['Country'].str.title()

# Print the remaining unique values to check the cleaning
print("\nUnique Countries after Cleaning (First 200):")
print(df['Country'].unique()[:100])

Unique Countries after Cleaning (First 200):
['Columbia' 'Australia' 'Usa' 'Costa Rica' 'Bahamas' 'Puerto Rico'
 'French Polynesia' 'Spain' 'Canary Islands' 'South Africa' 'Vanuatu'
 'Jamaica' 'Israel' 'Mexico' 'Maldives' 'Philippines' 'Turks And Caicos'
 'Mozambique' 'New Caledonia' 'Egypt' 'Thailand' 'New Zealand' 'Hawaii'
 'Honduras' 'Indonesia' 'Morocco' 'Belize' 'Maldive Islands' 'Tobago'
 'India' 'Trinidad' 'Coral Sea' 'Portugal' 'Samoa' 'Colombia' 'Ecuador'
 'Cuba' 'Brazil' 'Seychelles' 'Argentina' 'Fiji' 'England' 'Japan'
 'British Overseas Territory' 'Canada' 'Jordan' 'St Kitts / Nevis'
 'St Martin' 'Papua New Guinea' 'Reunion Island' 'China' 'Ireland' 'Italy'
 'Malaysia' 'Libya' nan 'Mauritius' 'Solomon Islands'
 'St Helena, British Overseas Territory' 'Comoros' 'Reunion'
 'United Kingdom' 'United Arab Emirates' 'Cape Verde' 'Dominican Republic'
 'Cayman Islands' 'Aruba' 'Atlantic Ocean' 'Greece' 'St. Martin' 'France'
 'Trinidad & Tobago' 'Kiribati' 'Diego Garcia' 'Taiwan'
 'Palestinian Territories' 'Guam' 'Nigeria' 'Tonga' 'Scotland' 'Croatia'
 'Saudi Arabia' 'Chile' 'Antigua' 'Kenya' 'Russia' 'Turks & Caicos'
 'United Arab Emirates (Uae)' 'Azores' 'South Korea' 'Malta' 'Vietnam'
 'Madagascar' 'Panama' 'Somalia' 'Nevis' 'British Virgin Islands' 'Norway'
 'Senegal' 'Yemen']

In [15]:
# Identifying unique Countries 
drop_duplicates = df['Country'].duplicated()
unique_countries = df['Country'][~drop_duplicates]
print("Unique Countries:")
print(unique_countries)

Unique Countries:
0                 Columbia
1                Australia
3                      Usa
4               Costa Rica
9                  Bahamas
               ...
6963               Bahrein
6968                 Korea
6976              Red Sea?
7039                 Asia?
7049    Ceylon (Sri Lanka)
Name: Country, Length: 213, dtype: object

### Unique Values for Age

In [ ]:
# Force the 'Age' column to be numeric.
# Any non-numeric string (like '50+' or 'Teen') will be converted to NaN.
# SABINA COMMENT: No! I would check how much data I lose BEFORE converting to NaN. 
# This is good as a quick & dirty method to get insights QUICKLY, I agree and I applaud you for that.
# But for a proper analysis, you want to check that you're not losing a lot of your data this way 
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# Re-run the median calculation and imputation
median_age = df['Age'].median()

# Fill missing Age values (including the new NaNs created above) with the median
df['Age'].fillna(median_age, inplace=True)

print(f"Age column successfully cleaned and filled. Median Age used: {median_age}")

In [ ]:
# Find the unique values in the category columns 
unique_Age = df['Age'].unique()
print("Unique Age:")
print(unique_Age)

In [ ]:
# Convert to numeric, turning any remaining garbage into NaN
df['Cleaned_Age'] = pd.to_numeric(df['Cleaned_Age'], errors='coerce')

# Drop rows where 'Age' is now NaN (the unusable data)
rows_before_drop = len(df)
df.dropna(subset=['Cleaned_Age'], inplace=True)
rows_after_drop = len(df)

print(f"Dropped {rows_before_drop - rows_after_drop} rows with unrecoverable Age data.")

# Final conversion to integer
df['Cleaned_Age'] = df['Cleaned_Age'].astype(int) 

# Finalize the column names
df.drop('Age', axis=1, inplace=True)
df.rename(columns={'Cleaned_Age': 'Age'}, inplace=True)
print("\n'Age' column is now clean and numeric.")

In [ ]:
# Check Data Type and Non-Null Count
print("--- Final Data Info ---")
df.info() 
# Look for:
# 'Age' column to be a numeric type (e.g., 'int64' or 'float64').
# 'Non-Null Count' for 'Age' to match the total entries (or be very close), 
#    indicating that all NaN values were dropped.

# Check: Missing Values Count
print("\nMissing values in 'Age' column:", df['Age'].isna().sum())
# This count should be 0 or very close to 0.

In [ ]:
# Unique Values (The critical check)
print("\nFirst 20 unique values in the cleaned 'Age' column:")
# Using .head(20) because there are likely many unique numbers.
print(df['Age'].unique()[:20]) 
# The output should ONLY contain numbers (integers or floats). 
# Textual entries like 'teen', 'mid-30s', 'X' should be gone.

In [ ]:
# Force 'Year' to be numeric, turning any remaining bad text/data into NaN
# SABINA COMMENT: Same comment, no blind coercion!
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

# Drop the rows that have a missing 'Year' (after coercion)
# These are likely records with unusable data anyway.
# SABINA COMMENT: NOOOOOOO! Same thing! It's good there isn't that much data missing after
# you do it, but ALWAYS CHECK FIRST!
df.dropna(subset=['Year'], inplace=True)

# Now, we can safely convert to integer
df['Year'] = df['Year'].astype(int)

# Imputation (just in case they were missed earlier)
# Impute Missing Activity (Categorical)
df['Activity'].fillna('Unknown', inplace=True)
print("Missing Activity values filled with 'Unknown'.")
print("\nFinal Data Info:")
df.info()

In [ ]:
# attempt to convert the cleaned 'Year' column to integer
df['Year'] = df['Year'].astype(int)

print("Year column successfully converted to integer.")

In [ ]:
# Use value_counts() to count the occurrences of each Country
# Use .head(5) to display only the top 5
top_countries = df['Country'].value_counts().head(5)
# SABINA COMMENT: Did you check that the Country column was clean?

print("--- Top 5 Countries by Recorded Shark Attacks ---")
print(top_countries)

In [ ]:
import matplotlib.pyplot as plt

# The 'top_countries' variable already holds the data from previous step.
# It is a Pandas Series, which can be plotted directly.

In [ ]:
# Ensure 'top_countries' exists; compute it from df if it doesn't.
if 'top_countries' not in globals():
    try:
        top_countries = df['Country'].value_counts().head(5)
    except Exception as e:
        raise RuntimeError("top_countries is not defined and could not be computed from df: " + str(e))

plt.figure(figsize=(10, 6))  # Set the size of the plot

# Create the bar chart
top_countries.plot(kind='bar', color='skyblue')

# Add titles and labels for clarity
plt.title('Top 5 Countries by Recorded Shark Attacks', fontsize=16)
plt.xlabel('Country', fontsize=12)
plt.ylabel('Number of Attacks', fontsize=12)

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha='right')

# Add the count value on top of each bar (use a small dynamic offset)
offset = max(top_countries.values) * 0.02 if len(top_countries) else 0
for i, v in enumerate(top_countries.values):
    plt.text(i, v + offset, str(int(v)), ha='center')

# Display the chart
plt.tight_layout()  # Adjusts plot for a tight layout
plt.show()

In [ ]:
# Standardize the 'Activity' column by converting all text to lowercase
# and filling any remaining nulls with 'unknown' (though we imputed earlier, this is a good safety step)
df['Activity_Clean'] = df['Activity'].str.lower().fillna('unknown')

# Count the occurrences of each unique (lowercased) activity
# Use .head(5) to display only the top 5
top_activities = df['Activity_Clean'].value_counts().head(5)

print("--- Top 5 Activities by Recorded Shark Attacks ---")
print(top_activities)

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))

# Create the bar chart
top_activities.plot(kind='bar', color='coral')

# Add titles and labels
plt.title('Top 5 Activities Associated with Shark Attacks', fontsize=16)
plt.xlabel('Activity', fontsize=12)
plt.ylabel('Number of Attacks', fontsize=12)

# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha='right')

# Add the count value on top of each bar
for index, value in enumerate(top_activities):
    plt.text(index, value + 20, str(value), ha='center')

plt.tight_layout()
plt.show()

In [ ]:
print(df.columns)

SABINA COMMENT: I think you need to check this in the beginning - your Fatal column is probably split in multiple columns and you already lost the original Fatal col.

In [ ]:
# The list of columns does NOT contain 'Fatal (Y/N)'. 
# We will use the common alternative column 'Unnamed: 21' which often holds the Fatal flag 'Y' or 'F'.

FATAL_COLUMN = 'Unnamed: 21' # <--- CHANGED TO A COLUMN THAT EXISTS IN YOUR DATAFRAME

# Standardize the 'FATAL' column (Crucial cleaning step for GSAF data)
# Clean up the column by stripping whitespace and converting to uppercase.
# We are looking for 'Y' (Yes) or 'F' (Fatal)
df[FATAL_COLUMN] = df[FATAL_COLUMN].astype(str).str.strip().str.upper()

# Filter the DataFrame for Fatal Attacks
# Select rows where the FATAL_COLUMN equals 'Y' OR 'F'
fatal_attacks_df = df[(df[FATAL_COLUMN] == 'Y') | (df[FATAL_COLUMN] == 'F')].copy()

# Display the count and the first few rows
print(f"Total Fatal Attacks Found: {len(fatal_attacks_df)}")
print("\nFirst 5 Fatal Attacks Records:")
print(fatal_attacks_df.head())

In [ ]:
FATAL_COLUMN = 'Unnamed: 22' # <--- Try this if 'Unnamed: 21' gives a count of 0

In [ ]:
# Find the country with the most fatal attacks
deadliest_countries = fatal_attacks_df['Country'].value_counts()

print("\nTop 5 Countries by Fatal Shark Attacks:")
print(deadliest_countries.head(5))

In [ ]:
# Try the next common placeholder column
FATAL_COLUMN = 'Unnamed: 22' 

# Standardize the 'FATAL' column (Crucial cleaning step for GSAF data)
# Clean up the column by stripping whitespace and converting to uppercase.
df[FATAL_COLUMN] = df[FATAL_COLUMN].astype(str).str.strip().str.upper()

# Filter the DataFrame for Fatal Attacks
# Select rows where the FATAL_COLUMN equals 'Y' OR 'F'
fatal_attacks_df = df[(df[FATAL_COLUMN] == 'Y') | (df[FATAL_COLUMN] == 'F')].copy()

# Display the count and the first few rows
print(f"Total Fatal Attacks Found: {len(fatal_attacks_df)}")
print("\nFirst 5 Fatal Attacks Records:")
print(fatal_attacks_df.head())

In [ ]:
FATAL_COLUMN = 'Injury'

# Standardize the 'Injury' column
df[FATAL_COLUMN] = df[FATAL_COLUMN].astype(str).str.strip().str.upper()

# Filter by checking if the injury string CONTAINS the word 'FATAL'
# This is more robust for textual data.
fatal_attacks_df = df[df[FATAL_COLUMN].str.contains('FATAL', na=False)].copy()

# Display the count
print(f"Total Fatal Attacks Found (using Injury column): {len(fatal_attacks_df)}")

In [ ]:
# Find the country with the most fatal attacks
# Group the fatal attacks DataFrame by 'Country' and count the incidents
deadliest_countries = fatal_attacks_df['Country'].value_counts()

# Print the top 5 deadliest countries
print("\nTop 5 Countries by Fatal Shark Attacks:")
print(deadliest_countries.head(5))

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming 'deadliest_countries' contains the value_counts() you found:
# AUSTRALIA: 310, USA: 202, etc.

# Select only the top 5 countries
top_5_fatal = deadliest_countries.head(5)

# Initialize the plot
plt.figure(figsize=(10, 6))
sns.barplot(x=top_5_fatal.index, y=top_5_fatal.values, palette="Reds_d")
# SABINA COMMENT: The shading should be the other way round, where darker colors = more attacks

# Add titles and labels
plt.title('Top 5 Countries by Fatal Shark Attacks', fontsize=16, weight='bold')
plt.xlabel('Country', fontsize=12)
plt.ylabel('Number of Fatal Attacks', fontsize=12)

# Add the count values on top of the bars
for i, count in enumerate(top_5_fatal.values):
    plt.text(i, count + 5, str(count), ha='center', va='bottom', fontsize=10)

# Rotate x-axis labels for better visibility
plt.xticks(rotation=45, ha='right')

# Show the plot
plt.tight_layout()
plt.show()